* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  border-radius: 20%;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url('img/background.png') center/cover;
  width: 800px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  font-size: 24px;
  border: 4px solid black;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20%;
  border: 4px solid black;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  width: 50px;
  height: 50px;
  background-color: darksalmon;
  text-align: center;
  color: white;
  font-size:  35px;
  margin-top: 8px;;
  border-radius: 50%;
  border: 4px solid black;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  width: 800px;
  height: 250px;
  padding: 20px;
  background-color: #00000090;
  color: white;
  text-align: center;
  opacity: 0.8;
  border-radius: 0 0 20px 20px;
}

.pop-up__hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 36px;
}

.carrot, .bug {
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}